.calculator {
  width: 25%;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px grey;
}

.compound-form {
  margin: 50px 20px;
  padding: 20px;
  width: 60%;
  
  display: flex;
  flex-direction: column;
  
}
.compound-form label {
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
}

.button-section {
  display: flex;
  justify-content: center;
}
.calculate-button {
  margin: 10px 5px;
  width: 50%;
}
